:root {
	--highlight-text-color: #59b256;
}
* {
	outline: none;
}
body {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 20px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a {
	text-decoration: none;
	color: #000;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
.app {
	transition: background-color 0.3s ease-in-out;
}
